<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chelsey Chen</title>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap-calendar/css/calendar.css">

    <script type="text/javascript">
        function validateForm() {
            // Reset the error view
            document.getElementById("buildingError").innerHTML = "";
            document.getElementById("roomError").innerHTML = "";

            var noError = true;
            var digits = /^[0-9]+$/;
            var building = document.forms["form1"]["building"].value;
            var room  = document.forms["form1"]["room"].value;

            if (building == '') {
                document.getElementById("buildingError").innerHTML =
                "Please enter an valid building name.";
                noError = false;
            }

            if (room == '' || !room.match(digits)) {
                document.getElementById("roomError").innerHTML =
                "Please enter an valid room number.";
                noError = false;
            }

            return noError;
        }
    </script>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Classroom Schedule</h1>
        <form name="form1" method="POST" class="" onsubmit="return validateForm()"">
            <p>Building: <input type="text" name="building" />   (e.g MC, DC, RCH, DWE, HH...)</p>
            <p>Room number: <input type="text" name="room" /></p>
            <p class="error" id="buildingError"></p>
            <p class="error" id="roomError"></p>
            <input id="search" type="submit" value="Search" class="btn" />
        </form>
    </div>

    <% if (typeof building != 'undefined' && typeof room != 'undefined' && typeof date != 'undefined') { %>
        <h2>Classroom Schedule of <%= building %> <%= room %> on <%= date %></h2>
    <% } %>

    <!-- Debug: check if courses all match
    <% if (typeof courses!='undefined') { %>
        <ul>
            <% courses.forEach(function(course) { %>
                <li><%= course.title %>: start [<%= course.start %>] end [<%= course.end %>]</li>
            <% }); %>
        </ul>
    <% } %>
    -->

    <div id="calendar"></div>
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bootstrap-calendar/js/calendar.js"></script>

    <% if (typeof courses != 'undefined') { %>
        <script type="text/javascript">
            var calendar = $("#calendar").calendar({
                view: 'day',
                time_start: '08:00',
                time_end: '22:00',
                tmpl_cache: false,
                tmpl_path: "bootstrap-calendar/tmpls/",
                events_source: JSON.parse('<%- JSON.stringify(courses) %>')
            });
        </script>
    <% } %>
</div>
</body>
</html>
