<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Chelsey Chen">

    <title>UWClassroom - Chelsey Chen</title>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap-calendar/css/calendar.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bootstrap/js/tab.js"></script>
    <script type="text/javascript" src="bootstrap-calendar/js/calendar.js"></script>
    <script type="text/javascript" src="bootstrap-validator/dist/validator.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            var $inputs = $('input[name=room],input[name=floor]');
            $inputs.on('input', function () {
                // Set the required property of the other input to false if this input is not empty.
                $inputs.not(this).prop('required', !$(this).val().length);
            });
        });
    </script>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <form name="form1" data-toggle="validator" method="POST" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-8 col-xs-offset-4">
                    <h2>Classroom Schedule</h2>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8 col-xs-offset-2">
                    <p>Use this website to check class schedule of a specific room in University of Waterloo. Simply select a building, enter the room/floor number, select the date and you are good to go!</p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="buildingInput" class="col-xs-4 control-label">Building:</label>
                <div class="col-xs-4">
                    <select id="buildingInput" name="building" class="form-control" data-error="Please enter a valid building name." required>
                        <option value=""></option>
                        <% if (typeof formData != 'undefined') { %>
                            <% Object.keys(formData.buildings).forEach(function(key) { %>
                                <option value="<%= key %>"
                                    <% if (key == formData.building) { %>
                                        <%= "selected" %>
                                    <% } %>
                                    ><%= formData.buildings[key] %></option>
                            <% }); %>
                        <% } else { %>
                            <option value="AL">AL - Arts Lecture Hall</option>
                            <option value="B1">B1 - Biology 1</option>
                            <option value="B2">B2 - Biology 2</option>
                            <option value="C2">C2 - Chemistry 2</option>
                            <option value="DC">DC - Davis Center</option>
                            <option value="DWE">DWE - Douglas Wright Engineering</option>
                            <option value="E2">E2 - Engineering 2</option>
                            <option value="E3">E3 - Engineering 3</option>
                            <option value="E5">E5 - Engineering 5</option>
                            <option value="E6">E6 - Engineering 6</option>
                            <option value="ESC">ESC - Earth Science &amp; Chemistry</option>
                            <option value="EV1">EV1 - Environment 1</option>
                            <option value="EV2">EV2 - Environment 2</option>
                            <option value="EV3">EV3 - Environment 3</option>
                            <option value="HH">HH - J.G. Hagey Hall of the Humanities</option>
                            <option value="M3">M3 - Mathematics 3</option>
                            <option value="MC">MC - Mathematics &amp; Computer</option>
                            <option value="ML">ML - Modern Language</option>
                            <option value="OPT">OPT - Optometry</option>
                            <option value="PAS">PAS - Psychology, Anthropology &amp; Sociology</option>
                            <option value="PHY">PHY - Physical Activities Complex</option>
                            <option value="QNC">QNC - Quantum Nano Center</option>
                            <option value="RCH">RCH - J.R. Coutts Engineering Lecture Hall</option>
                            <option value="STC">STC - Science Teaching Complex</option>
                        <% } %>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="roomInput" class="col-xs-4 control-label">Room:</label>
                <div class="col-xs-4">
                    <input id="roomInput" pattern="^[0-9]+$" name="room" type="text" class="form-control" required />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="floorInput" class="col-xs-4 control-label">Floor:</label>
                <div class="col-xs-4">
                    <input id="floorInput" pattern="^[1-9]$" name="floor" type="text" class="form-control" data-error="Please enter a valid room or floor number." placeholder="e.g. 1, 2, 3, ..." required />
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 control-label">Day:</label>
                <div class="col-xs-4">
                    <select name="day" class="form-control">
                        <% if (typeof formData != 'undefined') { %>
                            <% Object.keys(formData.days).forEach(function(key) { %>
                                <option value="<%= key %>"
                                    <% if (key == formData.day) { %>
                                        <%= "selected" %>
                                    <% } %>
                                    ><%= formData.days[key] %></option>
                            <% }); %>
                        <% } else { %>
                            <option value="today">Today</option>
                            <option value="M">Monday</option>
                            <option value="T">Tuesday</option>
                            <option value="W">Wednesday</option>
                            <option value="Th">Thursday</option>
                            <option value="F">Friday</option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4 col-xs-offset-4">
                    <input id="search" type="submit" value="Search" class="btn btn-primary btn-md" />
                </div>
            </div>
        </form>
    </div>

    <% if (typeof room != 'undefined') { %>
        <% if (day == "today") { %>
            <h4 class="well">Classroom Schedule of <%= building %> <%= room %> on <%= date %></h4>
        <% } else { %>
            <h4 class="well">Classroom Schedule of <%= building %> <%= room %> on
                <% if (day == "M") { %> Monday
                <% } else if (day == "T") { %> Tuesday
                <% } else if (day == "W") { %> Wednesday
                <% } else if (day == "Th") { %> Thursday
                <% } else { %> Friday
                <% } %>
            </h4>
        <% } %>

        <div id="calendar"></div>
        <script type="text/javascript">
            var calendar = $("#calendar").calendar({
                view: 'day',
                time_start: '08:00',
                time_end: '22:00',
                tmpl_cache: false,
                tmpl_path: "bootstrap-calendar/tmpls/",
                events_source: JSON.parse('<%- JSON.stringify(courses) %>')
            });
        </script>
    <% } %>

    <% if (typeof floor != 'undefined' && typeof noFloorInfo == 'undefined') { %>
        <% if (day == "today") { %>
            <h4 class="well">Classroom Schedule of <%= building %> on the <%= floor %> floor on <%= date %></h4>
        <% } else { %>
            <h4 class="well">Classroom Schedule of <%= building %> on the <%= floor %> floor on
                <% if (day == "M") { %> Monday
                <% } else if (day == "T") { %> Tuesday
                <% } else if (day == "W") { %> Wednesday
                <% } else if (day == "Th") { %> Thursday
                <% } else { %> Friday
                <% } %>
            </h4>
        <% } %>

        <ul class="nav nav-tabs">
            <% roomsData.forEach(function(roomData) { %>
                <li><a data-toggle="pill" href="#<%= roomData.room %>"><%= building %> <%= roomData.room %></a></li>
            <% }); %>
        </ul>

        <div class="tab-content">
            <% roomsData.forEach(function(roomData) { %>
                <div id="<%= roomData.room %>" class="tab-pane fade">
                    <div id="calendar<%= roomData.room %>"></div>
                </div>
                <script type="text/javascript">
                    var calendar = $("#calendar<%= roomData.room %>").calendar({
                        view: 'day',
                        time_start: '08:00',
                        time_end: '22:00',
                        tmpl_cache: false,
                        tmpl_path: "bootstrap-calendar/tmpls/",
                        events_source: JSON.parse('<%- JSON.stringify(roomData.courses) %>')
                    });
                </script>
            <% }); %>
        </div>
    <% } %>

    <% if (typeof noFloorInfo != 'undefined') { %>
        <div class="well">
            <h5>Sorry, I haven't gathered <%= floor %> floor infomation in <%= building %>.</h5>
            <h5>Please try to search for a particular room you know on <%= floor %> floor in <%= building %>.</h5>
        </div>
    <% } %>
</div>
</body>
</html>
