<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chelsey Chen</title>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap-calendar/css/calendar.css">
    <style type="text/css">
        .error {
            display: inline-block;
            background: #FEE;
            color: red;
        }
    </style>
    <script type="text/javascript">
        function validateForm() {
            // Reset the error view
            document.getElementById("buildingError").innerHTML = "";
            document.getElementById("roomError").innerHTML = "";

            var noError = true;
            var digits = /^[0-9]+$/;
            var building = document.forms["form1"]["building"].value;
            var room  = document.forms["form1"]["room"].value;

            if (building == '') {
                document.getElementById("buildingError").innerHTML =
                "Please enter an valid building name.";
                noError = false;
            }

            if (room == '' || !room.match(digits)) {
                document.getElementById("roomError").innerHTML =
                "Please enter an valid room number.";
                noError = false;
            }

            return noError;
        }
    </script>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <form name="form1" method="POST" class="form-horizontal" onsubmit="return validateForm()"">
            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <h2>Classroom Schedule</h2>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">*Building:</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="building" placeholder="(e.g MC, DC, HH...)" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">*Room number:</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="room" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Day:</label>
                <div class="col-xs-6">
                    <select name="day">
                        <option value="today" selected>Today</option>
                        <option value="M">Monday</option>
                        <option value="T">Tuesday</option>
                        <option value="W">Wednesday</option>
                        <option value="Th">Thursday</option>
                        <option value="F">Friday</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <div class="error" id="buildingError"></div>
                    <div class="error" id="roomError"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <input id="search" type="submit" value="Search" class="btn btn-primary btn-md" />
                </div>
            </div>
        </form>
    </div>

    <% if (typeof building != 'undefined' && typeof room != 'undefined' && typeof date != 'undefined' && typeof day != 'undefined') { %>
        <% if (day == "today") { %>
            <h4 class="well">Classroom Schedule of <%= building %> <%= room %> on <%= date %></h4>
        <% } else { %>
            <h4 class="well">Classroom Schedule of <%= building %> <%= room %> on
                <% if (day == "M") { %> Monday
                <% } else if (day == "T") { %> Tuesday
                <% } else if (day == "W") { %> Wednesday
                <% } else if (day == "Th") { %> Thursday
                <% } else { %> Friday
                <% } %>
            </h4>
        <% } %>
    <% } %>

    <!-- Debug: check if courses all match
    <% if (typeof courses!='undefined') { %>
        <ul>
            <% courses.forEach(function(course) { %>
                <li><%= course.title %>: start [<%= course.start %>] end [<%= course.end %>]</li>
            <% }); %>
        </ul>
    <% } %>
    -->

    <div id="calendar"></div>
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bootstrap-calendar/js/calendar.js"></script>

    <% if (typeof courses != 'undefined') { %>
        <script type="text/javascript">
            var calendar = $("#calendar").calendar({
                view: 'day',
                time_start: '08:00',
                time_end: '22:00',
                tmpl_cache: false,
                tmpl_path: "bootstrap-calendar/tmpls/",
                events_source: JSON.parse('<%- JSON.stringify(courses) %>')
            });
        </script>
    <% } %>
</div>
</body>
</html>
